<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>narrowboat-cockpit</title>
  </head>
  <style>
    .coordy {
        fill: blue;
        color: black;
    }
  </style>
  <body>
    <noscript>
      <strong>We're sorry but narrowboat-cockpit doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
        <svg id="color-fill" xmlns="http://www.w3.org/2000/svg" version="1.1" height="300" xmlns:xlink="http://www.w3.org/1999/xlink">
            <text class="coordx" ref="coordx" x="200" y="200" fill="green" transform="rotate(90, 200, 200)">TEST</text>
            <text class="coordy" ref="coordx" x="300" y="300">TEST</text>
        </svg>
    </div>
  </body>
</html>
