<template>
    <div class="cube">
        <table>
            <tbody>
                <tr>
                    <td colspan="2">X:<input v-model.number="cubeX" type="number" :placeholder="0" :onchange="isValid()" @focus="$event.target.select()"></td>
                    <td colspan="2">Y:<input v-model.number="cubeY" type="number" :placeholder="0" :onchange="isValid()" @focus="$event.target.select()"></td>
                    <td colspan="2">Z:<input v-model.number="cubeZ" type="number" :placeholder="0" :onchange="isValid()" @focus="$event.target.select()"></td>
                </tr>
                <tr>
                    <td>{{ cubeX }}</td>
                    <td>+</td>
                    <td>{{ cubeY }}</td>
                    <td>+</td>
                    <td>{{ cubeZ }}</td>
                    <td>=</td>
                </tr>
                <tr>
                    <td colspan="3">{{ addXYZ }}</td>
                    <td colspan="3"><span v-if="this.valid">Error: total should be zero</span></td>
                </tr>
                <tr>
                    <td colspan="6">
                        <div class="coords">
                            <svg id="color-fill" xmlns="http://www.w3.org/2000/svg" version="1.1" height="300" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <text class="coordz" ref="coordz" :x="textX(3, 0.7)" :y="textY(3, 0.7)" fill="blue">z: {{ cubeZ }}</text>
                                <text class="coordx" ref="coordx" :x="textX(-3, 0.7)" :y="textY(-3, 0.7)" fill="green">x: {{ cubeX }}</text>
                                <text class="coordy" ref="coordy" :x="textX(1, 0.7)" :y="textY(1, 0.7)" fill="purple">y: {{ cubeY }}</text>
                                <polygon v-on:click="onClick" class="hex" points="279,75 279,225 150,300 20,225 20,74 149,0"></polygon>
                            </svg>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Radius<input v-model="radius" type="number" :placeholder="1"/></td>
                    <td colspan="4"><button v-on:click="reqRing">Ring</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import Vue from 'vue/dist/vue.js'
    import VueNativeSock from 'vue-native-websocket'
    Vue.use(VueNativeSock, 'ws://localhost:9090/entry')

    export default {
        name: 'CubeInput',
        data() {
            return {
                cubeX: 0,
                cubeY: 0,
                cubeZ: 0,
                total: 0,
                valid: true,
                radius: 1,
            }
        },
        created () {
            console.log('created', this);
            this.$socket.send('{"hexsize": 60}');
            this.$options.sockets.reconnect = () => this.$socket.send('{"hexsize": 50}');

            // var width = this.$refs.coordx.clientWidth;
            // console.log('width: ' + width );
        },
        mounted() {
            console.log('mounted', this);
            this.$socket.send('{"hexsize": 60}');
            // console.log(this.$refs.coordx.clientWidth);
            // this.ww = this.$refs.coordz.clientWidth
        },

        methods: {
            textX: function (side, length) {
                // var width = this.$refs.coord.clientWidth;
                console.log(this.ww);
                if (Math.sign(side) < 0) {
                    return (150 * Math.sin(Math.PI / side) * length + 150)
                } else {
                    return (150 * Math.sin(Math.PI / side) * length + 150) - 22
                }
            },
            textY: function (side, length) {
                return ((150 * Math.cos(Math.PI / side) * length - 150) * -1)
            },
            isValid: function() {
                this.valid = (this.cubeX + this.cubeY + this.cubeZ) != 0 ? true : false;
                console.log('isValid');
                if(this.$refs.coordz != null) {
                    console.log(this.$refs.coordx.clientWidth);
                    console.log(this.$refs.coordx.getAttribute('x'));

                }
            },
            onClick: function() {
                console.log('{"hextype": 0, "x": ' + this.cubeX + ', "y": ' + this.cubeY + ', "z": ' + this.cubeZ + '}')
                this.$socket.send('{"hextype": 0, "x": ' + this.cubeX + ', "y": ' + this.cubeY + ', "z": ' + this.cubeZ + '}')
            },
            reqRing: function() {
                console.log('{"hextype": 11, "x": ' + this.cubeX + ', "y": ' + this.cubeY + ', "z": ' + this.cubeZ + ', "radius": ' + this.radius + '}')
                this.$socket.send('{"hextype": 11, "x": ' + this.cubeX + ', "y": ' + this.cubeY + ', "z": ' + this.cubeZ + ', "radius": ' + this.radius + '}')
            }
        },
        computed: {
            addXYZ() {
                return this.cubeX + this.cubeY + this.cubeZ;
            },

        },
    }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    table {
        border: 2px solid #42b983;
        border-radius: 3px;
        background-color: #fff;
    }
    td {
        background-color: #f9f9f9;
    }
    .hex {
        cursor: pointer;
        fill-opacity: 0.4;
        stroke: #000;
        stroke-width: 1;
        vertical-align: middle;
    }
    .coords {
        vertical-align: before-edge;
    }
    .coordx {
        transform:rotate(0deg)
    }
    #color-fill .hex {
        fill: #11ff00;
    }
</style>